
.header, .footer{
 background-color: #1F2937;
}

body{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 margin: 0;
 font-family: Arial, sans-serif;
}

.header{
 display: flex;
 justify-content: space-around;
 padding-top: 20px;
 padding-bottom: 150px;
 padding-left: 30px;
 padding-right: 30px;
}

ul{
 display: flex;
 margin: 0;
 padding: 0;
 gap: 12px;
 padding-bottom: 60px;
}

ul li{
 display: flex;
 align-items: center;
}

ul li a{
 text-decoration: none;
 color: #E5E7EB;
 font-size: 18px;
}

.header-content-2{
 display: flex;
 flex-direction: column;
 gap: 50px;
}

.header-content-1 h1{
 font-size: 48px;
 font-weight: 800;
 color: #F9FAF8
}

.header-content-1 p{
 font-size: 18px;
 color: #E5E7EB;
}

.logo{
 font-size: 24px;
 color: #F9FAF8;
 padding-bottom: 70px;
}

.picture{
 padding: 0;
 margin: 0;
 box-sizing:border-box;
 height: 200px;
 width: 400px;
 background-color: #666;
 display: flex;
 justify-content: center;
 align-items: center;
}

.button-1 button{       
 /* 
 Notes to self(cause i forget :3 ): this is targeting the button element inside the div with class button-1. Keep in mind that when you try to increase the paddings of button-1 it will increase the paddings of the container of the button not the button itself to change the paddings of the button you need to target the button element!
 */

 padding: 5px 15px;
 background-color: #3882F6;
 border-radius: 6px;
 color: #E5E7EB;
 border: none;
}

.main-content{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: 300px;
}

.sub-content{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 12px;
}

.subtext{
 padding: 0;
 margin: 0;
 box-sizing:border-box;
 height: 100px;
 width: 100px;
 background-color: #666;
 border-radius: 6px;
}

.quote{
 padding: 20px 60px;
 margin: 0;
 box-sizing:border-box;
 background-color: #E5E7EB;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 300px;
}

.quote blockquote{
 font-style: italic;
}

.modal{
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 60px 0;
 
}

.call-to-action{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 40px;
 background-color: #3882F6;
 width: 900px;
 border-radius: 10px;
 padding: 30px 45px;
 height: 60px
}

.text p,h4{
 margin: 0;
 padding: 0;
 color: white;
}

.call-to-action button{
 background-color: #3882F6;
 margin: 50px 0px;
 padding: 4px 10px;
 color:white;
 border-color:white;
 border-radius: 6px;
}


.footer{
 display: flex;
 align-items: center;
 justify-content: center;
 color: #E5E7EB;
 padding: 30px 60px;
}